.mech-detail-container{
    background: white;
    height: 400px;
    margin: 0px;
}
.mech-menu-container{
    background: #282c34;
    height: -webkit-fill-available;
    height: -moz-available;
    height: fill-available;
}
.mech-menu-ul {
    float: none;
    list-style: none;
    margin: 15px 0px;
    padding: 10px 10px 10px 20px;
}
.mech-menu-ul > li {
    padding: 8px 0px;
    text-align: initial;
    color: #b6b6b6;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    margin-left: 18px;
}
.mech-menu-ul > li:hover{
    color:goldenrod;
    cursor: pointer;
}