.settings_label{
    width:175px;
    color:#b6b6b6;
    padding-left: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 200 !important;
}
.settings_button {
  background-color: #e8e8e8;
  border: none;
  color:#000000;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  float: right;
}

.col-md-12.settings-parametetrs {
  margin-top: 10px;
  margin-bottom: 10px;
}

input[type="text"] {
  /* border: none; */
  width: 45%;
  font-family: 'Roboto', sans-serif;
  cursor: text;
}

.settings_heading{
  color:#000000;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  padding: 20px 0px 10px;
}

.settings_thead{
  color:#b6b6b6;
  font-weight: 100 !important;
  font-size: 14px;
}

.settings_tbody{
  color:#000000;
  font-weight: 200;
}

.settings_checkbox{
  /*outline: 0.5px solid #000000;
  background-color:#ffffff !important;*/
  cursor: pointer;
}


.col-md-12.settings_header {
  /* height: 60px; */
  display: flex;
padding: 15px;
}

span.inner-text1 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

button.settings_button {
  background-color: #f5bf36;
  border: none;
  color: white;
  padding: 11px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  border-radius: 5px;
  font-family: 'Roboto';
}