.cls-1{isolation:isolate;}
.cls-2,.cls-9{fill:#20bc04;}
.cls-2,.cls-3,.cls-4{stroke:#000;stroke-miterlimit:10;}
.cls-3{fill:#f44a4a;}
.cls-4{fill:#00b22a;}
.cls-5{fill:#f93866;}
.cls-6{fill:#f9a24e;}
.cls-7{fill:#059065;}
.cls-8{fill:#f4384f;}
.machine-svg {
 float:right;
}